<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Dev Articles Site - Sign Up</title>
</head>
<body>
<header>
    header
    <hr>
</header>

<main id="main">
    <div class="row">
        <form>
            <label for="userId">ID</label>
            <input id="userId" type="text" required>
            <label for="password">Password</label>
            <input id="password" type="password" required>
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="you@example.com">
            <label for="nickname">Nickname</label>
            <input id="nickname" type="text">
            <label for="memo">Memo</label>
            <textarea id="memo" rows="3"></textarea>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</main>

<footer>
    <hr>
    footer
</footer>
</body>
</html>
