<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dev Articles Site - Detail</title>
</head>
<body>
    <header id="header"></header>

    <main id="main">
        <header>
            <h1>First Article</h1>
        </header>

        <aside>
            <p><span class="nick-name">cjungwo</span></p>
            <p><a href="mailto:wjd516@gmail.com">wjd516@gmail.com</a></p>
            <p><time datetime="2024-06-07T00:00:00">2024-06-07</time></p>
            <p>#java</p>
        </aside>

        <section>
            <p>Content:<br><br></p>

            <div>
                <form action="">
                    <label for="articleComments" hidden>Comments</label>
                    <textarea id="articleComments" placeholder="Comments..."></textarea>
                    <button type="submit">Write</button>
                </form>

                <ul>
                    <li>
                        <div>
                            <time><small>2024-06-07</small></time>
                            <strong>cjungwo</strong>
                            <p>
                                Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2024-06-07</small></time>
                            <strong>cjungwo</strong>
                            <p>
                                Accusamus adipisci amet,
                                autem beatae commodi cumque.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2024-06-07</small></time>
                            <strong>cjungwo</strong>
                            <p>
                                Lorem ipsum dolor sit amet,
                                autem beatae commodi cumque.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <nav>
                <a href="#">prev</a>
                <a href="#">next</a>
            </nav>
        </section>
    </main>

    <footer id="footer"></footer>
</body>
</html>